<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Restrito</title>
    <link rel="icon" type="image/png" href="/static/favicon.png?v={{ v }}">
    <link rel="stylesheet" href="/static/style.css?v={{ v }}">
</head>

<body>

    {% include 'welcome.html' %}
    {% include 'board.html' %}
    {% include 'admin.html' %}
    {% include 'modals.html' %}

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="/static/app.js?v={{ v }}"></script>
</body>
</html>