<!-- Tela de Boas-Vindas -->
<div id="welcome-screen" class="hidden">
    <div class="welcome-card">
        <h1 class="welcome-title glitch-hover">Terminal_</h1>
        <h2 class="welcome-subtitle">Equipe de dados</h2>
        <p class="welcome-desc">Acesso restrito.<br> Identificação obrigatória para liberação de credenciais operacionais.
        </p>
        <div style="display:flex;flex-direction:column;gap:16px;">
            <input type="text" id="player-name-input" placeholder="> Insira seu codinome" class="welcome-input" />
            <button onclick="acceptMission()" class="btn-auth">
                Autenticar Agente
            </button>
        </div>
    </div>
</div>